body {
  background-color: black;
  font-family: "Gloria Hallelujah";
}

header {
  height: 60px;
  padding:0;
  margin: 5px auto 0px 20px;
  align-content: center;
  align-items: center;
  align-self: center;
  
}

header h1 {
  padding:0;
  color: white;
}

#work-list {
  background-color: #222222;
  border-radius: 10px;
  color: white;
  margin: 5px auto auto 20px;
  padding: 5px 5px auto auto;
  width: 150px; 
  height: 100px;
}

#work-list h2 {
  margin: 5px auto 10px 15px;
  padding-top: 8px;
}